<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /api/license/

  RewriteRule "(^|/)(CVS|\.svn|\.git)/" - [F]

  # if the file or directory exists
  RewriteCond %{REQUEST_FILENAME} -d [OR]
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule .* - [L]

  # using 'index.php' because it forces a '/' request to the handler
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
